{{ define "main" }}
<div class="flex flex-col gap-y-3 p-6 mt-6 rounded-lg shadow-md bg-white w-full max-w-4xl lg:max-w-5xl">
  <h1 class="text-4xl font-semibold text-slate-800">
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
  </h1>

  {{ partial "block/desc" . }}
  {{ partial "block/taxonomies" .}}

  <div class="flex flex-row text-slate-400">
    {{ partial "block/time" . }}
  </div>

  {{ if or .Params.Toc $.Site.Params.Toc }}
    {{ if ne .Params.Toc false }}
    <section class="prose w-full max-w-4xl lg:max-w-5xl mt-6">
      <h2>Table of Contents</h2>
      <aside>{{ .TableOfContents }}</aside>
    </section>
    {{ end }}
  {{ end }}

  <article class="mt-6 w-full max-w-4xl lg:max-w-5xl prose prose-quoteless post-content">
    {{ .Content }}
  </article>
</div>
{{ end }}
