@import 'tailwindcss';

@config '../../tailwind.config.js';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  .footnote-backref {
    text-decoration: none !important;
  }
  .darkmode-toggle .icon-tabler.icon-tabler-brightness-down {
    fill: white;
    stroke: white;
  }
  .darkmode-toggle .icon-tabler.icon-tabler-moon-stars {
    fill: white;
    stroke: white;
  }

  @keyframes grow-progress {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(1);
    }
  }

  #progress {
    transform-origin: 0 50%;
    animation: grow-progress auto linear;
    animation-timeline: scroll();
    z-index: 999;
  }
}

/* generated by `hugo gen chromastyles --style=solarized-light` */

/* Background */ .bg { color: #586e75; background-color: #eee8d5; }
/* PreWrapper */ .chroma { color: #586e75; background-color: #eee8d5; }
/* Other */ .chroma .x {  }
/* Error */ .chroma .err {  }
/* CodeLine */ .chroma .cl {  }
/* LineLink */ .chroma .lnlinks { outline: none; text-decoration: none; color: inherit }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
/* LineHighlight */ .chroma .hl { background-color: #d6d0bf }
/* LineNumbersTable */ .chroma .lnt { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .chroma .ln { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Line */ .chroma .line { display: flex; }
/* Keyword */ .chroma .k { color: #859900 }
/* KeywordConstant */ .chroma .kc { color: #859900; font-weight: bold }
/* KeywordDeclaration */ .chroma .kd { color: #859900 }
/* KeywordNamespace */ .chroma .kn { color: #dc322f; font-weight: bold }
/* KeywordPseudo */ .chroma .kp { color: #859900 }
/* KeywordReserved */ .chroma .kr { color: #859900 }
/* KeywordType */ .chroma .kt { color: #859900; font-weight: bold }
/* Name */ .chroma .n { color: #268bd2 }
/* NameAttribute */ .chroma .na { color: #268bd2 }
/* NameBuiltin */ .chroma .nb { color: #cb4b16 }
/* NameBuiltinPseudo */ .chroma .bp { color: #268bd2 }
/* NameClass */ .chroma .nc { color: #cb4b16 }
/* NameConstant */ .chroma .no { color: #268bd2 }
/* NameDecorator */ .chroma .nd { color: #268bd2 }
/* NameEntity */ .chroma .ni { color: #268bd2 }
/* NameException */ .chroma .ne { color: #268bd2 }
/* NameFunction */ .chroma .nf { color: #268bd2 }
/* NameFunctionMagic */ .chroma .fm { color: #268bd2 }
/* NameLabel */ .chroma .nl { color: #268bd2 }
/* NameNamespace */ .chroma .nn { color: #268bd2 }
/* NameOther */ .chroma .nx { color: #268bd2 }
/* NameProperty */ .chroma .py { color: #268bd2 }
/* NameTag */ .chroma .nt { color: #268bd2; font-weight: bold }
/* NameVariable */ .chroma .nv { color: #268bd2 }
/* NameVariableClass */ .chroma .vc { color: #268bd2 }
/* NameVariableGlobal */ .chroma .vg { color: #268bd2 }
/* NameVariableInstance */ .chroma .vi { color: #268bd2 }
/* NameVariableMagic */ .chroma .vm { color: #268bd2 }
/* Literal */ .chroma .l { color: #2aa198 }
/* LiteralDate */ .chroma .ld { color: #2aa198 }
/* LiteralString */ .chroma .s { color: #2aa198 }
/* LiteralStringAffix */ .chroma .sa { color: #2aa198 }
/* LiteralStringBacktick */ .chroma .sb { color: #2aa198 }
/* LiteralStringChar */ .chroma .sc { color: #2aa198 }
/* LiteralStringDelimiter */ .chroma .dl { color: #2aa198 }
/* LiteralStringDoc */ .chroma .sd { color: #2aa198 }
/* LiteralStringDouble */ .chroma .s2 { color: #2aa198 }
/* LiteralStringEscape */ .chroma .se { color: #2aa198 }
/* LiteralStringHeredoc */ .chroma .sh { color: #2aa198 }
/* LiteralStringInterpol */ .chroma .si { color: #2aa198 }
/* LiteralStringOther */ .chroma .sx { color: #2aa198 }
/* LiteralStringRegex */ .chroma .sr { color: #2aa198 }
/* LiteralStringSingle */ .chroma .s1 { color: #2aa198 }
/* LiteralStringSymbol */ .chroma .ss { color: #2aa198 }
/* LiteralNumber */ .chroma .m { color: #2aa198; font-weight: bold }
/* LiteralNumberBin */ .chroma .mb { color: #2aa198; font-weight: bold }
/* LiteralNumberFloat */ .chroma .mf { color: #2aa198; font-weight: bold }
/* LiteralNumberHex */ .chroma .mh { color: #2aa198; font-weight: bold }
/* LiteralNumberInteger */ .chroma .mi { color: #2aa198; font-weight: bold }
/* LiteralNumberIntegerLong */ .chroma .il { color: #2aa198; font-weight: bold }
/* LiteralNumberOct */ .chroma .mo { color: #2aa198; font-weight: bold }
/* Operator */ .chroma .o {  }
/* OperatorWord */ .chroma .ow { color: #859900 }
/* Punctuation */ .chroma .p {  }
/* Comment */ .chroma .c { color: #93a1a1; font-style: italic }
/* CommentHashbang */ .chroma .ch { color: #93a1a1; font-style: italic }
/* CommentMultiline */ .chroma .cm { color: #93a1a1; font-style: italic }
/* CommentSingle */ .chroma .c1 { color: #93a1a1; font-style: italic }
/* CommentSpecial */ .chroma .cs { color: #93a1a1; font-style: italic }
/* CommentPreproc */ .chroma .cp { color: #93a1a1; font-style: italic }
/* CommentPreprocFile */ .chroma .cpf { color: #93a1a1; font-style: italic }
/* Generic */ .chroma .g { color: #d33682 }
/* GenericDeleted */ .chroma .gd { color: #d33682 }
/* GenericEmph */ .chroma .ge { color: #d33682 }
/* GenericError */ .chroma .gr { color: #d33682 }
/* GenericHeading */ .chroma .gh { color: #d33682 }
/* GenericInserted */ .chroma .gi { color: #d33682 }
/* GenericOutput */ .chroma .go { color: #d33682 }
/* GenericPrompt */ .chroma .gp { color: #d33682 }
/* GenericStrong */ .chroma .gs { color: #d33682 }
/* GenericSubheading */ .chroma .gu { color: #d33682 }
/* GenericTraceback */ .chroma .gt { color: #d33682 }
/* GenericUnderline */ .chroma .gl { color: #d33682 }
/* TextWhitespace */ .chroma .w {  }

/* generated by `hugo gen chromastyles --style=solarized-dark` with `.dark` scope */

.dark /* Background */ .bg { color: #93a1a1; background-color: #002b36; }
.dark /* PreWrapper */ .chroma { color: #93a1a1; background-color: #002b36; }
.dark /* Other */ .chroma .x { color: #cb4b16 }
.dark /* Error */ .chroma .err {  }
.dark /* CodeLine */ .chroma .cl {  }
.dark /* LineLink */ .chroma .lnlinks { outline: none; text-decoration: none; color: inherit }
.dark /* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
.dark /* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
.dark /* LineHighlight */ .chroma .hl { background-color: #19404a }
.dark /* LineNumbersTable */ .chroma .lnt { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #495050 }
.dark /* LineNumbers */ .chroma .ln { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #495050 }
.dark /* Line */ .chroma .line { display: flex; }
.dark /* Keyword */ .chroma .k { color: #719e07 }
.dark /* KeywordConstant */ .chroma .kc { color: #cb4b16 }
.dark /* KeywordDeclaration */ .chroma .kd { color: #268bd2 }
.dark /* KeywordNamespace */ .chroma .kn { color: #719e07 }
.dark /* KeywordPseudo */ .chroma .kp { color: #719e07 }
.dark /* KeywordReserved */ .chroma .kr { color: #268bd2 }
.dark /* KeywordType */ .chroma .kt { color: #dc322f }
.dark /* Name */ .chroma .n {  }
.dark /* NameAttribute */ .chroma .na {  }
.dark /* NameBuiltin */ .chroma .nb { color: #b58900 }
.dark /* NameBuiltinPseudo */ .chroma .bp { color: #268bd2 }
.dark /* NameClass */ .chroma .nc { color: #268bd2 }
.dark /* NameConstant */ .chroma .no { color: #cb4b16 }
.dark /* NameDecorator */ .chroma .nd { color: #268bd2 }
.dark /* NameEntity */ .chroma .ni { color: #cb4b16 }
.dark /* NameException */ .chroma .ne { color: #cb4b16 }
.dark /* NameFunction */ .chroma .nf { color: #268bd2 }
.dark /* NameFunctionMagic */ .chroma .fm {  }
.dark /* NameLabel */ .chroma .nl {  }
.dark /* NameNamespace */ .chroma .nn {  }
.dark /* NameOther */ .chroma .nx {  }
.dark /* NameProperty */ .chroma .py {  }
.dark /* NameTag */ .chroma .nt { color: #268bd2 }
.dark /* NameVariable */ .chroma .nv { color: #268bd2 }
.dark /* NameVariableClass */ .chroma .vc {  }
.dark /* NameVariableGlobal */ .chroma .vg {  }
.dark /* NameVariableInstance */ .chroma .vi {  }
.dark /* NameVariableMagic */ .chroma .vm {  }
.dark /* Literal */ .chroma .l {  }
.dark /* LiteralDate */ .chroma .ld {  }
.dark /* LiteralString */ .chroma .s { color: #2aa198 }
.dark /* LiteralStringAffix */ .chroma .sa { color: #2aa198 }
.dark /* LiteralStringBacktick */ .chroma .sb { color: #586e75 }
.dark /* LiteralStringChar */ .chroma .sc { color: #2aa198 }
.dark /* LiteralStringDelimiter */ .chroma .dl { color: #2aa198 }
.dark /* LiteralStringDoc */ .chroma .sd {  }
.dark /* LiteralStringDouble */ .chroma .s2 { color: #2aa198 }
.dark /* LiteralStringEscape */ .chroma .se { color: #cb4b16 }
.dark /* LiteralStringHeredoc */ .chroma .sh {  }
.dark /* LiteralStringInterpol */ .chroma .si { color: #2aa198 }
.dark /* LiteralStringOther */ .chroma .sx { color: #2aa198 }
.dark /* LiteralStringRegex */ .chroma .sr { color: #dc322f }
.dark /* LiteralStringSingle */ .chroma .s1 { color: #2aa198 }
.dark /* LiteralStringSymbol */ .chroma .ss { color: #2aa198 }
.dark /* LiteralNumber */ .chroma .m { color: #2aa198 }
.dark /* LiteralNumberBin */ .chroma .mb { color: #2aa198 }
.dark /* LiteralNumberFloat */ .chroma .mf { color: #2aa198 }
.dark /* LiteralNumberHex */ .chroma .mh { color: #2aa198 }
.dark /* LiteralNumberInteger */ .chroma .mi { color: #2aa198 }
.dark /* LiteralNumberIntegerLong */ .chroma .il { color: #2aa198 }
.dark /* LiteralNumberOct */ .chroma .mo { color: #2aa198 }
.dark /* Operator */ .chroma .o { color: #719e07 }
.dark /* OperatorWord */ .chroma .ow { color: #719e07 }
.dark /* Punctuation */ .chroma .p {  }
.dark /* Comment */ .chroma .c { color: #586e75 }
.dark /* CommentHashbang */ .chroma .ch { color: #586e75 }
.dark /* CommentMultiline */ .chroma .cm { color: #586e75 }
.dark /* CommentSingle */ .chroma .c1 { color: #586e75 }
.dark /* CommentSpecial */ .chroma .cs { color: #719e07 }
.dark /* CommentPreproc */ .chroma .cp { color: #719e07 }
.dark /* CommentPreprocFile */ .chroma .cpf { color: #719e07 }
.dark /* Generic */ .chroma .g {  }
.dark /* GenericDeleted */ .chroma .gd { color: #dc322f }
.dark /* GenericEmph */ .chroma .ge { font-style: italic }
.dark /* GenericError */ .chroma .gr { color: #dc322f; font-weight: bold }
.dark /* GenericHeading */ .chroma .gh { color: #cb4b16 }
.dark /* GenericInserted */ .chroma .gi { color: #719e07 }
.dark /* GenericOutput */ .chroma .go {  }
.dark /* GenericPrompt */ .chroma .gp {  }
.dark /* GenericStrong */ .chroma .gs { font-weight: bold }
.dark /* GenericSubheading */ .chroma .gu { color: #268bd2 }
.dark /* GenericTraceback */ .chroma .gt {  }
.dark /* GenericUnderline */ .chroma .gl {  }
.dark /* TextWhitespace */ .chroma .w {  }


.highlight {
  position: relative;
}

.highlight .icon-tabler.icon-tabler-check {
  stroke: rgb(74 222 128); /* tailwindcss green-400 */
}

/* fix highlight with line number */
.highlight .chroma .lntable {
  margin: 1.7142857em 0;
  padding: 0.8571429em 1.1428571em;
  border-radius: 0.375rem;
  overflow: hidden;
}

.highlight .chroma .lntable pre {
  margin: 0;
  padding: 0.8571429em 0;
  border-radius: 0;
}

/* https://caniuse.com/css-has */
.highlight .chroma:has(table) {
  background-color: transparent;
}

.highlight .lntable tr {
  display: flex;
}

.highlight .lntable tr .lntd:last-child {
  flex-grow: 1;
}
