{{ if (or .Params.categories .Params.tags) }}
  <ul class="flex flex-row text-slate-400">
    {{ if .Params.categories }}
      {{ range .Params.categories }}
      <li>
        <a href="{{ (urlize (printf "categories/%s" . )) | relLangURL }}/"
          class="text-sm mr-2 px-2 py-1 rounded border border-emerald-400 bg-emerald-400 text-slate-50">
          {{ . }}
        </a>
      </li>
      {{ end }}
    {{ end }}
    {{ if .Params.categories }}
      {{ range .Params.tags }}
      <li>
        <a href="{{ (urlize (printf "tags/%s" . )) | relLangURL }}/"
          class="flex flex-row text-sm mr-2 py-1">
          <i class="h-5 w-5 flex-none">
            {{ partial "icon" "hash" }}
          </i>
          <span class="ml-0">{{ . }}</span>
        </a>
      </li>
      {{ end }}
    {{ end }}
  </ul>
{{ end }}
