<div class="flex flex-row gap justify-between w-full max-w-4xl lg:max-w-5xl h-12 mt-3">
  <div class="flex-none">
    <a href="{{.Site.BaseURL }}" class="">
      <img class="h-12 w-12 rounded-full object-cover bg-gray-100" src="{{ .Site.Params.header.logo }}" alt="logo">
    </a>
  </div>
  <div class="flex-1"></div>
  <div class="flex-none">
    {{ partial "menu.html" }}
  </div>
  <div class="darkmode-toggle flex flex-none ml-2">
    <label class="flex items-center px-3 cursor-pointer rounded-full bg-gray-100 dark:bg-gray-600">
      <input type="checkbox" class="sr-only peer">
      <div class="group flex flex-row gap-1 justify-center h-8 px-1 rounded-full bg-white dark:bg-gray-700">
        <i class="h-6 w-6 flex-none rounded-full bg-yellow-400 place-self-center peer-checked:group-[]:invisible">
          {{ partial "icon" "brightness-down" }}
        </i>
        <i class="h-6 w-6 flex-none rounded-full place-self-center invisible peer-checked:group-[]:visible">
          {{ partial "icon" "moon-stars" }}
        </i>
      </div>
    </label>
  </div>
</div>
