<nav class="h-full">
  <ul class="flex rounded-full px-3 text-base font-medium text-slate-800 dark:text-slate-200 shadow-lg dark:bg-gray-600 shadow-slate-800/5 dark:shadow-slate-200/5 ring-1 ring-slate-900/5 dark:ring-slate-100/5 backdrop-blur">
  {{ range sort site.Menus.main "Weight" }}
    {{ if not .HasChildren }}
      <li id="{{ .Identifier }}" class="">
        <a class="block px-3 py-3 hover:text-emerald-500"
          href="{{ .URL }}" title="{{ .Name }}">{{ .Name }}</a>
      </li>
    {{ end }}
  {{ end }}
  </ul>
</nav>
