{{ define "main" }}
  <main class="grid place-items-start w-full min-h-full max-w-4xl lg:max-w-5xl px-6 py-24">
    <div class="text-center w-full">
      <p class="text-base font-semibold text-indigo-600 dark:text-indigo-300">404</p>
      <h1 class="mt-4 text-3xl font-bold tracking-tight text-slate-800 dark:text-slate-200 sm:text-5xl">{{ T "404.page_not_found" }}</h1>
      <p class="mt-6 text-base leading-7 text-slate-500 dark:text-slate-300">{{ T "404.sorry" }}</p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href={{ relLangURL "" }} class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
          {{ T "404.go_back_home" }}
        </a>
      </div>
    </div>
  </main>
{{ end }}
